@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}
body{
    width: 100%;
    height: 100%;
}
/* navbar start */
.navbar{
  position: fixed;
  margin: 0;
  overflow: hidden;
  background-color: #2FE1EC;
  width: 100%;
  z-index: 1;
}
.container-fluid{
    display: inline;
}
.collapse{
    display: flex;
    justify-content: center;
}
.nav-item{
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
.nav-link{
    color: white;
    text-decoration: none;
}
/* Navbar hover effect */
.navbar .navbar-nav .nav-item a.nav-link:hover{
    color: aliceblue;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
}
.navbar .navbar-nav .nav-item a.nav-link.active{
    font-weight: 700;
    font-size: medium;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}
/* hero Section */
.hero{
    background-image: url(image.png);
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 10rem 1rem;
}
.mb-3{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 77.5993px;
    line-height: 94px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 3px #63BEFF;
}
.mb-4{
    width: 70%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 65.9594px;
    line-height: 80px;
    color: #63BEFF;
}
.col-lg-4{
    width: auto;
}
.hero-button{
    width: 291px;
    height: 55px;
    margin-top: 1rem;
    color: white;
    background: #2FE1EC;
    border-radius: 55px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.hero-button:hover{
    background: #00a8b1;
}



